# Ignore node_modules folder
node_modules/

# Ignore log files
*.log

# Ignore temporary files
*.tmp

# Ignore system files
.DS_Store
Thumbs.db

# Ignore build and output directories
/build/
/dist/
/out/

# Placeholder for specific folders
# Add your folder paths here
CE 7455 Group Project/ag_news_classification/models/

# Ignore cache files
*.pyc

__pycache__/
# Ignore Jupyter Notebook checkpoints   
*.ipynb_checkpoints

