# Ignore node_modules folder
node_modules/

# Ignore all log files
**/*.log

# Ignore temporary files
*.tmp

# Ignore system files
.DS_Store
Thumbs.db

# Ignore build and output directories
/build/
/dist/
/out/
.vscode/

# Placeholder for specific folders
# Add your folder paths here
CE 7455 Group Project/ag_news_classification/models/

# Ignore .pyc files in any directory
**/*.pyc

# Ignore all __pycache__ directories
**/__pycache__/

# Ignore all Jupyter Notebook checkpoints   
**/.ipynb_checkpoints

